
@media all and (max-width: 720px) {
  .gallery__img__first {
    width: 100%;
    height: 100%;
  }
  .gallery__img__one__section__box__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .gallery__img__two__section__box__wrapper {
    display: flex;
    flex-direction: row;
  }
  .gallery__img__three__section__box__wrapper {
    flex-direction: column;
    /* flex-wrap: wrap;     */
  }
}

@media all and (max-width: 600px) {
  .section__title {
    font-size: 18px;
    text-align: center;
    padding: 0 5px;
  }
  .section__subtitle {
    text-align: center;
    font-size: 12px;
  }

  .about__photo {
    width: 230px;
    height: 230px;
  }
}

@media all and (max-width: 480px) {
  .about .section__subtitle {
    width: unset;
  }
  .about__photo {
    width: 185px;
    height: 185px;
  }
  .contact {
    padding: 0;
  }

  .skills__list {
    font-size: 12px;
  }

  .portfolio__info {
    font-size: 12px;
  }
}
