.contact{
    position: relative;
    font-family: "Raleway";
}
.contact__wrapper{

}
.contact__inner{

}
/* content */
.contact__content__wrapper{

}
.contact__title__inner{

}
.contact__title{

}
.contact__subtitle__inner{

}
.contact__subtitle{

}
/* submit */
.contact__submit__wrapper{

}
.contact__submit__inner{
    
}
/* form */
.contact__form{

}
/* text name */
.contact__submit__text__wrapper{

}
.contact__submit__text{

}
/* email */
.contact__submit__email__wrapper{

}
.contact__submit__email{

}
/* number */
.contact__submit__number__wrapper{

}
.contact__submit__number{

}
/* comment */
.contact__submit__comment__wrapper{

}
.contact__submit__comment{

}
/* submit btn */
.contact__submit__btn__wrapper{

}
.contact__submit__btn{

}
/* contact list */
.contact__my__list__inner{

}
.contact__my__list__title__wrapper{

}
.contact__my__list__title{

}
.contact__my__list__subtitle__wrapper{

}
.contact__my__list__subtitle{

}
/* img */
.contact__img__wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 866px;
    margin: auto;
    margin-bottom: -5px;
    background-image: url("file:///home/ronin/Documents/dev/maket/img/body/sun.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
/* .subscribe__img__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 866px;
    margin: auto;
    margin-bottom: -5px;
    background-image: url("file:///home/ronin/Documents/dev/maket/img/body/blackberry2.png");
    background-repeat: no-repeat;
    background-position: bottom;
  } */