.services {
  position: relative;
  min-height: 100vh;
  font-family: "Raleway";
}
.services__wrapper {
  padding: 200px 0;
  background-color: #70bfff;
}
.services__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.services__menu__wrapper {
}
.services__menu__list {
}
.services__menu__list__item {
}
.services__menu__list__item__btn {
}
.services__menu__list__item__btn__text {
}
.services__menu__list__item__img {
}
.services__content__wrapper {
}
.services____title__wrapper {
}
.services____title {
}
.services__img__wrapper{

}
.service__img{
  
}