.services {
  position: relative;
  min-height: 100vh;
  font-family: "Raleway";
}
.services__page__wrapper {
  padding: 200px 0;
  background-color: #70bfff;
}
.services__page__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.services__page__menu__wrapper {
}
.services__page__menu__list {
}
.services__page__menu__list__item {
}
.services__page__menu__list__item__btn {
}
.services__page__menu__list__item__btn__text {
}
.services__page__menu__list__item__img {
}
.services__page__content__wrapper {
}
.services__page__content__title__wrapper {
}
.services__page__content__title {
}
