@font-face {
    font-family: "HelveticaNeueLTPro-Cn";
    src: url('/fonts/HelveticaNeueLTPro-Cn.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    display: block;
    color: -internal-root-color;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.header{
    position: absolute;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
